<html>
    <head>
        <style>

            body{
                max-width: 100vw;
                margin:0;
            }

            .nav{
                border:1px solid black;
                height:5vw;
                width:100vw;
                max-width: 100vw;
                
            }

            .nav-content{
                padding:10px;
                margin:20px;
            }

            .nav-content a{
                float:right;
            }

            .search_box{
                position: relative;
                left:40vw;
                width:400px;
                padding:10px;
                border-radius: 10px;
                border:none;
                background-color:#e6e6e6;
            }

            .div-left{
                float:left;
                width:25%;
                height:100vh;
                /* border:0.5px solid black; */
            }

            .div-main{
                float:left;
                width:50%;
                height:100vh;
                border:0.5px solid black;
            }

            .div-right{
                
                float:left;
                height:100vh;
                width:25%;
            }

            .divs-content{
                padding:20px;
            }

            .follower-div{
                height:400px;
                margin:0 auto;
                width:300px;
                border:1px solid black;
            }

            .tweet-box{
                margin:0 auto;
            }


        </style>
    </head>

    <body>

        <div class="container">

            <div class = "nav">

                <div class="nav-content">

                    
                    <input type = "text" placeholder="Search...." class="search_box">

                    <a href="/edituser?uid=<%=data[0].uid%>">Edit Profile</a>
            

                </div>

                    </div>

                    <div class="div-left divs-content">

                        <h1><%=data[0].username%></h1>
                        <h4><%=data[0].email%></h4>
                        
                        <div class="follower-div">

                        </div>

                    </div>

                    <div class="div-main divs-content">

                        <div class="tweet-box">

                            <form action ="" method="POST">

                                <textarea rows="10" cols="60" placeholder="Add tweet"></textarea>

                                <br>

                                <input type="submit" value ="Tweet">

                            </form>

                        </div>

                        <div class="tweets">

                            <h3><%=data[0].username%></h3>

                            

                        </div>
                        
                    </div>

                    <div class="div-right divs-content">
                        
                    </div>



        </div>

    </body>
</html>
