<html>
    <head>
        <style>

            .container{
                text-align: center;
                position: relative;
                top:20vh;
                margin:0 auto;
                border:1px solid black;
                height:400px;
                width:600px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2><%=msg%></h2>

            <input type ="submit" value = "Verify!">
        </div>
    </body>
</html>